.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home {
  min-height:96.5vh;
  background-size:cover;
  aspect-ratio: auto;
  text-align: center;
  color:white;
}

body{
  background-color: lightgray;
}
#content {
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: white;
  min-height:95vh;
}
header {
  margin:0;
  padding:0;
  text-align: center;
  background-color:burlywood;
}
.home-content{
  background-color: rgba(0,0,0,.5);
  position:absolute;
  top: 50%;
  width: 100%;
}
.profile-pic {
    width: 80px;
}
h2 {
  text-align: center;
}
.left {
  float:left;
  width:35%;
}
.right {
  float:left;
  width:65%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  border: 3px;
  border-style: solid;
  align-items: center;
}
.grid p {
  vertical-align: top;
  margin-bottom: auto;
}
.grid img {
  height: 250px;
  margin: auto;
}

nav button {
  width: 16.35%;
  height: 2em;
  border-style:none;
  background-color:black;
  color:white;
}

footer {
  position:bottom;
  width:100%;
  background-color:black;
  color:white;
  text-align:center;
}

.career-photo {
  width:95%;
}
.clear{
  clear:both;
}
.text-left{
  text-align:left;
}
.blog-pic{
  height:200px;
}
